@tailwind base;
@tailwind utilities;
@tailwind components;

body::-webkit-scrollbar { 
  width: 0.6rem;
  height: 0.6rem;
  margin-right: 10px;
}

body::-webkit-scrollbar-track {
  border: none;
  background: #0E0B11;
}

body::-webkit-scrollbar-thumb { 
  background: #CE9AF4;
  border-radius: 3px;
  cursor: move;
}

body::-webkit-scrollbar-corner { 
  border: none;
  background: none;
}